* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-size: 20px;
  line-height: 1;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #fff;
  text-rendering: optimizeLegibility;
}

@import "_animations";

.solar-system {
  position: relative;
  z-index: -1;

  .commands {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 100;
  }

  .orbit {
    border: 1px solid rgba(#000000, 0.1);
    border-radius: 50%;
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    animation-name: orbit;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform-style: preserve-3d;
    // background-color: rgba(24, 24, 24, 0.05);

    &.neptune {
      &.bg {
        // background-image:radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
      }
    }

    .object {
      height: 0;
      left: 100%;
      position: absolute;
      top: 50%;
      width: 0 !important;

      &::before {
        border-radius: 50%;
        content: "";
        display: block;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate3d(-50%, -50%, 0);
        -webkit-backface-visibility: hidden;    
      	backface-visibility: hidden;
        border: 1px solid rgba(24, 24, 24, 0.25);
      }
    }
  }
}
